.hero__content {
	// .hero__content-mobile
	&-mobile {
		.hero {
			// .hero__title
			&__title {
				display: none;
				@include mobile-M {
					display: block;
					color: $color-text;
					margin-top: 24px;
				}
			}
			// .hero__text
			&__text {
				display: none;
				@include mobile-L {
					display: block;
					font-weight: 500;
					width: 100%;
					max-width: 100%;
					font-size: 18px;
					line-height: 120%;
					letter-spacing: -0.03em;
					color: $color-text;
					margin-top: 24px;
				}
			}
			// .hero__footer
			&__footer {
				display: none;
				@include mobile-L {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 24px;
				}
			}
			// .hero__btn
			&__btn {
				// .hero__btn-text
				&-text {
				}
			}
			// .hero__policy
			&__policy {
				flex-direction: row;
				width: 100%;
				gap: 4px;
				// .hero__policy-text
				&-text {
					color: $color-text;
					opacity: 0.5;
				}
			}
		}
	}
}
