.hero {
	// .hero__title
	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 64px;
		line-height: 90%;
		color: $color-light;
		margin-bottom: 32px;
		width: 67%;
	}
	// .hero__text
	&__text {
		font-family: $font-family;
		font-weight: 500;
		font-size: 21px;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: $color-light;
		max-width: 426px;
		margin-bottom: 32px;
	}
	// hero__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	// .hero__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 16px 16px;
		padding-left: 24px;
		background-color: $color-accent;
		border-radius: 40px;
		transition: filter 0.3s, opacity 0.3s;
		// .hero__btn-text
		&-text {
			display: block;
			font-family: $second-family;
			font-weight: 700;
			font-size: 18px;
			line-height: 110%;
			color: $color-light;
		}

		@include hover {
			&:hover {
				filter: drop-shadow(0 0 5px $color-accent);
			}
			&:active {
				opacity: 0.7;
			}
		}
	}
	// .hero__policy
	&__policy {
		display: flex;
		flex-direction: column;
		gap: 4px;
		text-align: right;
		// .hero__policy-text
		&-text {
			font-family: $font-family;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: -0.02em;
			text-align: right;
			color: $color-light;
		}
	}
}
