@include tablet-L {
	.subscribe {
		// .subscribe__wrapper
		&__wrapper {
			padding: 48px;
			gap: 48px;
		}
		// .subscribe__content
		&__content {
			max-width: 363px;
		}
		// .subscribe__title
		&__title {
			margin-bottom: 24px;
			font-size: 28px;
			line-height: 100%;
		}
		// .subscribe__list
		&__list {
			// .subscribe__list-item
			&-item {
				font-size: 18px;
				line-height: 120%;

				&::before {
					top: -1px;
				}
			}
		}
		// .subscribe__form
		&__form {
			width: 49.7%;
		}
		// .subscribe__btn
		&__btn {
			// .subscribe__btn-text
			&-text {
				font-size: 16px;
			}
		}
	}
}

@include tablet-M {
	.subscribe {
		// .subscribe__wrapper
		&__wrapper {
			flex-direction: column;
			gap: 0;
			padding: 24px;
		}
		// .subscribe__content
		&__content {
			max-width: 100%;
			width: 100%;
		}
		// .subscribe__list
		&__list {
			margin-bottom: 24px;
		}
		// .subscribe__form
		&__form {
			max-width: 100%;
			width: 100%;
		}
		// .subscribe__inputs
		&__inputs {
			flex-direction: row;
			gap: 8px;
		}
		// .subscribe__input-block
		&__input-block {
			width: 48%;
		}
		// .subscribe__input
		&__input {
			width: 100%;
		}
		// .subscribe__privacy
		&__privacy {
			margin-bottom: 24px;
		}
	}
}

@include mobile-L {
	.subscribe {
		// .subscribe__wrapper
		&__wrapper {
			background-image: none;
		}
		// .subscribe__inputs
		&__inputs {
			flex-direction: column;
		}
		// .subscribe__input-block
		&__input-block {
			width: 100%;
		}
		// .subscribe__input
		&__input {
			width: 100%;
		}
	}
}

@include mobile-M {
	.subscribe {
		&__btn {
			justify-content: space-between;
			width: 100%;
		}
	}
}
