* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	margin-bottom: 96px;
	@include tablet-L {
		margin-bottom: 64px;
	}
	@include tablet-M {
		margin-bottom: 64px;
	}
}

body {
	background-color: $background-color;
	font-family: $font-family;
	font-weight: 400;
	font-size: 16px;
	color: $color-text;
	background-image: url('/vector/bg.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	max-width: calc(1160px + 20px);
	padding: 0 10px;
	margin: 0 auto;
}

.container-left {
	padding-left: calc((100% - 1180px) / 2 + 10px);

	@include desktop {
		padding-left: 10px;
	}
}
